* {
  margin:0;
  padding:0;
}


.navbar  {
    display:flex;
    position:sticky;
    top:0;
    background-color: aliceblue;
}

.navbar .logo,.logo1{
  list-style: none;
}

.footer {
   background-color:aqua;
   color:white;
   margin:-4px;
   height:50px;
   padding:10px;
   border:1px solid white;

}



.navbar .logo img {
  width:100px;
  height:70px;
}

.navbar .logo1 img {
  width:100px;
  height:70px;
  margin-left:80px;
}

.navbar .navbar-lists {
    display: flex;
    list-style-type:none;
    margin-left:70%;
    margin-top:25px;
    
}

.navbar .navbar-lists .navbar-list {
  margin-left:40px;
}

.navbar .navbar-lists .navbar-list .link1,.link2 {
  font-size: 20px;
  text-decoration: none;
  color:black;
  border:2px solid black;
  border-radius: 5px;
  padding:10px;
  background:white;
}

.navbar .navbar-lists .navbar-list .link1:hover,.link2:hover {
  background-color:crimson;
  color:aqua;
  border:1px solid white;
}
.footer {
  background-color: darkgray;
  color:antiquewhite;
  margin-top:50px;
}

.login {
	background-color:yellow;
}
.card {
	width:600px;
	height:420px;
	margin:100px auto;
	background-color:white;
	border-radius:10px;
	padding:10px;
}



.card  .labels {
  font-size:25px;
}

.card .inputs {
	width:90%;
	height:28px;
	margin-top:10px;
	margin-left:20px;
	font-size:23px;
	padding:4px;
}

#submit {
	width:90%;
	margin-top:20px;
	margin-left:20px;
	background-color:blue;
	color:white;
	font-size:23px;
	text-align:center;
	border:3px solid white;
	border-radius:5px;
	padding:6px;
	cursor:pointer;
}

#submit:hover {
	background-color:green;

}

.card .studentlogin {

	font-size:25px;
	color:red;
}



